<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings">
      <img src="https://res.cloudinary.com/dixfklr5d/image/upload/v1767693339/IMG_20260106_152450_ycmlmn.jpg" alt="Logo" class="logoImg">
    </a>
    <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarNavAltMarkup" 
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav explore">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <div class="tax-toggle menu">
        <div class="form-check-reverse form-switch">
            <input 
                type="checkbox" 
                role="switch" 
                id="switchCheckDefaultNav"
                class="switchCheckDefault"
            >
            <label class="form-check-label" for="switchCheckDefault"><p><b>Before Taxes</b></p></label>
        </div>
      </div>

      <div class="navbar-nav ms-auto">
        <form class="d-flex" method="GET" action="/listings">
          <input 
            class="form-control me-2 search-input" 
            type="search" 
            name="destination"
            placeholder="Search destinations"
            value="<%= searchQuery %>"
          />

          <% if (currentCategory) { %>
            <input type="hidden" name="category" value="<%= currentCategory %>">
          <% } %>

          <button class="btn search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass-location"></i>
          </button>
        </form>
      </div>

      <div class="navbar-nav ms-auto options">
        <a class="nav-link add-listing" href="/listings/new">List your place</a>
        <% if (!currUser) { %>
          <a class="nav-link" href="/login"><b>Log in</b></a>
          <a class="nav-link" href="/signup"><b>Sign up</b></a>
        <% } %> 
        <% if (currUser) { %>
          <div class="username" data-social="@<%= currUser.username %>" >
            <div class="avatar"><%= currUser.username[0].toUpperCase() %></div>
          </div>
          <a class="nav-link" href="/logout"><b>Log out</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
