body {
  font-family: "Plus Jakarta", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* Navbar */
.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: xx-large;
  margin-left: 20px;
}

.nav-link {
  color: #222222 !important;
}

.add-listing {
  margin-right: 15px !important;
  border-radius: 100px;
}

.add-listing:hover {
  cursor: pointer;
  background-color: rgb(239, 239, 239) !important;
  opacity: 0.8;
  padding-left: 10px;
  color: black !important;
}

.options {
  display: flex;
  gap: 10px;
}

.search-btn {
  background-color: #fe424d !important;
  color: #fff !important;
  border-radius: 100px !important;
  opacity: 0.92;
}

.search-btn:hover {
  opacity: 1;
}

.search-btn i {
  font-size: large;
}

.search-input {
  border-radius: 25px !important;
  padding: 0.5rem 3rem 0.5rem 3rem !important;
}

.avatar {
  background-color: black;
  color: #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-top: 5px;
  box-sizing: border-box;
  flex-shrink: 0;
  display: grid;
  place-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.options .username::before {
  content: attr(data-social);
  position: absolute;
  background-color: rgb(197, 194, 194);
  color: black;
  border-radius: 100px;
  font-size: small;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  flex-shrink: 0;
  display: grid;
  place-items: center;
  padding: 0 2px 0 2px;
  transform: translateY(-15px);
  opacity: 0;
}

.options .username::after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid rgb(197, 194, 194);
  margin-left: 9px;
  transform: translateY(-31px);
  opacity: 0;
}

.options .username:hover::before {
  opacity: 1;
}

.options .username:hover::after {
  opacity: 1;
}

.show {
  background-color: #ebebebc9;
  gap: 10px;
  padding: 15px;
  border-radius: 15px;
}

.show .navbar-nav, .show .navbar-nav .d-flex {
  margin-bottom: 8px;
}

/* Footer */
.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links, .f-info-socials, .f-info-brand {
  width: 100%;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.social-icon {
  opacity: 0.6;
  cursor: not-allowed;
}

.social-icon:hover {
  opacity: 0.9;
}

.f-info {
  text-align: center;
  height: 9rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Cards */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text {
  font-weight: 400;
}

.listing-link {
  text-decoration: none;
}

/* Card Effects */
.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* New Listing */
.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* Edit Listing */
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* Show Page */
.show-img {
  height: 30vh;
}

.btns {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.btns a,
.btns button {
  padding: 6px 16px;
  border-radius: 8px;
}


.show-card {
  padding-left: 0;
  padding-right: 0;
}

/* Reveiws cards*/
.review-card {
  padding: 5px;
  margin: 4px;
  border-color: grey;
  background-color: rgb(247, 246, 246) !important;
}

.star {
  color: gold;
}

.rating {
  text-decoration: none;
}

.comment {
  font-size: 15px;
}

/* Map */
#map { 
  height: 400px; 
  width: 100%; 
}

/* Filters and Tax-Switch */
.filters, .filters1, .filters2 {
  display: flex;
  flex-wrap: wrap;
  border-radius: 100px !important;
}

.filter {
  text-align: center;
  margin: 1rem 2rem 0 2rem;
  opacity: 0.8;
}

.filter:hover {
  opacity: 1;
  cursor: pointer;
}

.filter a {
  text-decoration: none;
  color: inherit;
}

.filter p {
  font-size: smaller;
}

.type.active {
  border-bottom: 2px solid black;
  font-weight: bold;
  color: black;
}

.tax-info {
  display: none;
}

.tax-toggle {
  border: 1px solid rgb(171, 171, 171) ;
  border-radius: 100px;
  height: 3rem;
  padding: 0.6rem;
  margin: 0.5rem 2rem 0 5rem;
  cursor: pointer;
}

.menu {
  display: none;
}

/* Responsive UI */
@media (max-width: 1280px){
  .filter {
    margin: 0.75rem 1.75rem 0 1.2rem;
  }
}

@media (max-width: 1230px){
  .type {
    min-width: 10px;
  }

  .type i {
    font-size: 1rem;
  }

  .type p {
    font-size: 0.6rem;
  }

  .tax-toggle {
    font-size: 0.75rem;
    margin: 0.5rem 0 0 0;
    padding-top: 0.8rem;
  }

  .filter {
    margin: 0.75rem 2.5rem 0 1.25rem;
  }
}

@media (max-width: 992px){
  .type i {
    font-size: 0.9rem;
  }

  .type p {
    font-size: 0.7rem;
  }

  .tax-toggle {
    font-size: 0.7rem;
  }

  .filter {
    margin: 0.75rem 1rem 0 0.65rem;
  }
}

@media (max-width: 767px){
  .type i {
    font-size: 0.9rem;
  }

  .type p {
    font-size: 0.7rem;
  }

  .filter {
    margin: 0.75rem 0.5rem 0 0.5rem;
  }

  .menu {
    display: block;
    padding: 0;
    border: 0;
    cursor: pointer !important;
  }

  .menu input[type="checkbox"] {
    display: none;
  }

  .menu label {
    font-size: medium;
    margin: 0;
    position: absolute;
    left: 28px;
  }

  .taxSwitch {
    display: none;
  }
}

@media (max-width: 536px){
  .filters {
    display: grid;
    place-items: center;
  }

  .type i {
    font-size: 0.8rem;
  }

  .type p {
    font-size: 0.6rem;
  }
}
